[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
numpy = "*"
tensorflow-gpu = "==2.0.0"
imageai = "*"
flask = "*"
python-decouple = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
pillow = "*"
opencv-python = "*"
keras = "*"
pandas = "*"
boto3 = "*"
botocore = "*"
mtcnn = "*"
beautifulsoup4 = "*"
lxml = "*"
google-images-download = "*"
tqdm = "*"
waitress = "*"

[requires]
python_version = "3.7"
