[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
flask-sqlalchemy = "==2.4.1"
beautifulsoup4 = "==4.8.1"
google-images-download = "==2.8.0"
matplotlib = "==3.1.2"
numpy = "==1.17.4"
opencv-python = "==4.1.2.30"
python-decouple = "==3.3"
python-dotenv = "==0.10.3"
requests = "==2.22.0"
tensorflow-gpu = "==1.14.0"
Keras = "==2.3.1"
Pillow = "==6.2.1"

[requires]
python_version = "3.7"
